package pages

templ Home() {
	<div class="h-screen flex flex-col px-20">
		<div class="h-96"></div>
		<p class="text-4xl font-bold">Full Stack Developer</p>
		<p class="text-2xl multiline">
			Versed in many frontend and backend frameworks and
			quick to adapt
		</p>
	</div>
}
